# Xcode
xcuserdata/
*.hmap
*.dSYM.zip
*.dSYM
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Local products and dictionary data
dist/
*.sqlite3
*.sqlite3-*
*.installing
*.csv
*.7z

# Python and macOS
__pycache__/
*.pyc
.DS_Store

# Other dependency managers
Carthage/Build/
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
